[submodule "unityVRPN"]
	path = src/prototypes/vrpn/VRPNConnector/unitVRPN
	url = https://github.com/arviceblot/unityVRPN.git
[submodule "src/unityVRPN"]
	path = src/unityVRPN
	url = https://github.com/arviceblot/unityVRPN.git
